#top, #about, #skill, #works{
  line-height: 3em;
  letter-spacing: 0.25em;
}

.jumbotron-extended {
    position: relative;
    height: 100vh;
    margin-bottom: 0;
    background: url(../img/top_back.jpg) no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.scroll{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.scroll a{
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 60px;
}

.scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.icon-contact {
  color: #000;
}

.icon-contact:hover {
  color: #64B5F6;
}

#animation {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
color: #ff0000;
}

@media (max-width: 575px) {
  .display-3 {
    font-size: 3em;
  }

  .lead {
    font-size: 0.8em;
  }

  .display-4 {
    font-size: 2em;
  }

  .col-6 {
    font-size: 0.8em;
  }

  .icon-contact {
    color: #000;
    font-size: 2em;
  }

  .icon-contact:hover; {
    color: #64B5F6;
    font-size: 2em;
  }
}
